<div>
	<div class="markAll" *ngIf="items.length > 0">
		<input class="toggleAll" #toggleAll type="checkbox" [checked]="dataService.allCompleted()" (click)="toggleCompleteAll(toggleAll.checked)">
		<label>Mark all completed</label>
	</div>
	<ul class="items">
	  <li *ngFor="let item of items" [ngClass]="{completed:item.complete, editing: item.editing}" >
	    <div class="view">
	    	<input class="toggle" type="checkbox" (click)="toggleComplete(item)" [checked]=item.complete>
	    	<label (dblclick)="item.editing = true" >{{item.title}}</label>
	    	<button class="delete" (click)="deleteItem(item)">x</button>	
	    </div>
	    <input class="edit" 
	    	#updatedItem
	    	[value] = "item.title"
	    	*ngIf="item.editing" 
	    	(keyup.escape)="item.editing = false"
	    	(keyup.enter)="updateItem(item, updatedItem.value)"
	    	(blur)="updateItem(item, updatedItem.value)"
	    	[(ngModel)]="item.title" 
	    />
	  </li>
	</ul>
	<div class="bottomDetails">
		<span>{{ dataService.getWithCompleted(false) }} items left</span>
		<button *ngIf="dataService.getWithCompleted(true)" (click)="deleteCompleted()">Clear Completed</button>
	</div>
</div>
